* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.font-1 {
  font-size: 72px;
  font-family: serif;
  font-weight: 900;
}

.body-bg {
  background-color: #F7F4ED;
}

.checkbox-ip:checked {
  background-color: #212529;
  /* Bootstrap "dark" */
  border-color: #212529;
}

.lined-text {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.lined-text::before,
.lined-text::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #333;
}

.modal-backdrop{
  background-color: transparent !important;
  position: relative !important;
  overflow: scroll !important;
}

element.style{
  overflow: scroll !important;
}

@media screen and (max-width: 500px) {
  .font-1 {
    font-size: 52px;
  }
}